CorporationSOAPWS.wsdl

<wsdl:definitions
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://ws.corp.dagurasu.github.io/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="CorporationSOAPWSService"
	targetNamespace="http://ws.corp.dagurasu.github.io/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://ws.corp.dagurasu.github.io/"
			attributeFormDefault="unqualified" elementFormDefault="unqualified"
			targetNamespace="http://ws.corp.dagurasu.github.io/">
			<xs:element name="AllEmployees" type="tns:AllEmployees" />
			<xs:element name="AllEmployeesResponse"
				type="tns:AllEmployeesResponse" />
			<xs:element name="Filters" type="tns:filters" />
			<xs:element name="employee" type="tns:employee" />
			<xs:element name="listEmployees" type="tns:listEmployees" />
			<xs:element name="registerEmployee"
				type="tns:registerEmployee" />
			<xs:element name="registerEmployeeResponse"
				type="tns:registerEmployeeResponse" />
			<xs:complexType name="registerEmployee">
				<xs:sequence>
					<xs:element minOccurs="0" name="employee"
						type="tns:employee" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="employee">
				<xs:sequence>
					<xs:element minOccurs="0" name="company"
						type="xs:string" />
					<xs:element minOccurs="0" name="firstName"
						type="xs:string" />
					<xs:element name="id" type="xs:long" />
					<xs:element minOccurs="0" name="lastName"
						type="xs:string" />
					<xs:element minOccurs="0" name="registration"
						type="xs:string" />
					<xs:element name="salary" type="xs:double" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="tokenUser">
				<xs:sequence>
					<xs:element minOccurs="0" name="expirationDate"
						type="xs:dateTime" />
					<xs:element minOccurs="0" name="token" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="registerEmployeeResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="employee"
						type="tns:employee" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="AllEmployees">
				<xs:sequence>
					<xs:element minOccurs="0" name="filter"
						type="tns:filters" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="filters">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="filter" type="tns:filter" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="filter">
				<xs:sequence>
					<xs:element minOccurs="0" name="company"
						type="tns:company" />
					<xs:element minOccurs="0" name="name" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="company">
				<xs:sequence>
					<xs:element name="id" type="xs:long" />
					<xs:element minOccurs="0" name="name" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="AllEmployeesResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="employees"
						type="tns:listEmployees" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="listEmployees">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="employee" type="tns:employee" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="AutorizationFault" nillable="true"
				type="xs:string" />
			<xs:element name="EmployeeValidatorException"
				type="tns:EmployeeValidatorException" />
			<xs:complexType name="EmployeeValidatorException">
				<xs:sequence>
					<xs:element minOccurs="0" name="message"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="token" nillable="true"
				type="tns:tokenUser" />
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="AutorizationException">
		<wsdl:part element="tns:AutorizationFault"
			name="AutorizationException">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="AllEmployeesResponse">
		<wsdl:part element="tns:AllEmployeesResponse"
			name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="registerEmployeeResponse">
		<wsdl:part element="tns:registerEmployeeResponse"
			name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="EmployeeValidatorException">
		<wsdl:part element="tns:EmployeeValidatorException"
			name="EmployeeValidatorException">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="registerEmployee">
		<wsdl:part element="tns:registerEmployee" name="parameters">
		</wsdl:part>
		<wsdl:part element="tns:token" name="token">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="AllEmployees">
		<wsdl:part element="tns:AllEmployees" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="corporationSOAPWS">
		<wsdl:operation name="registerEmployee">
			<wsdl:input message="tns:registerEmployee"
				name="registerEmployee">
			</wsdl:input>
			<wsdl:output message="tns:registerEmployeeResponse"
				name="registerEmployeeResponse">
			</wsdl:output>
			<wsdl:fault message="tns:AutorizationException"
				name="AutorizationException">
			</wsdl:fault>
			<wsdl:fault message="tns:EmployeeValidatorException"
				name="EmployeeValidatorException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="AllEmployees">
			<wsdl:input message="tns:AllEmployees" name="AllEmployees">
			</wsdl:input>
			<wsdl:output message="tns:AllEmployeesResponse"
				name="AllEmployeesResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CorporationSOAPWSServiceSoapBinding"
		type="tns:corporationSOAPWS">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="registerEmployee">
			<soap:operation soapAction="RegisterEmployee"
				style="document" />
			<wsdl:input name="registerEmployee">
				<soap:header message="tns:registerEmployee" part="token"
					use="literal">
				</soap:header>
				<soap:body parts="parameters" use="literal" />
			</wsdl:input>
			<wsdl:output name="registerEmployeeResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="AutorizationException">
				<soap:fault name="AutorizationException" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="EmployeeValidatorException">
				<soap:fault name="EmployeeValidatorException"
					use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="AllEmployees">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="AllEmployees">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="AllEmployeesResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CorporationSOAPWSService">
		<wsdl:port binding="tns:CorporationSOAPWSServiceSoapBinding"
			name="corporationSOAPWSPort">
			<soap:address
				location="http://localhost:8080/Corporation/CorporationSOAPWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>